/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #7889b9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #253e81;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

input,
select,
textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ffe3d8;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 12px 20px;
    background-color:  #f39f5a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #eecd81;
}

/* Input Container (Nama) */
.nama {
    display: flex;
    gap: 15px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
    width: 100%;
}

/* Select and DateTime Styling */
.date-time {
    display: flex;
    gap: 10px;
}

select {
    padding: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .nama {
        flex-direction: column;
    }

    .date-time {
        flex-direction: column;
    }
}
